---
import Layout from "../layouts/Layout.astro";
---

<Layout title="LastMinute Rent-a-Car | Home">
  <main class="min-h-screen">
    <h1 class="text-4xl font-bold text-center py-8">
      Welcome to LastMinute Rent-a-Car
    </h1>
    <p class="text-center text-muted-foreground">
      Your No1 rent a car in Croatia
    </p>
  </main>
</Layout>
