---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import FeatureCardsSection from "../components/FeatureCardsSection.astro";
import SpecialOffersSection from "../components/SpecialOffersSection.astro";
---

<Layout title="LastMinute Rent-a-Car | Home">
  <main>
    <HeroSection />
    <FeatureCardsSection />
    <SpecialOffersSection />
  </main>
</Layout>
