---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout title="LastMinute Rent-a-Car | Home">
  <main>
    <HeroSection />
  </main>
</Layout>
