---
import Layout from "../layouts/Layout.astro";
import { SpecialOffersPage } from "../components/SpecialOffersPage";
---

<Layout
  title="LastMinute Rent-a-Car | Special Offers"
  description="Discover special car rental offers - Black Friday discounts, summer deals, weekend specials, and loyalty programs in Croatia."
>
  <main>
    <SpecialOffersPage client:visible />
  </main>
</Layout>
